* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 50px;
}